/* ....................................nav */

.navbar-nav {
    margin-left: auto;
    font-weight: bold;
}

.bg-light {
    background-color: #4BBB76!important;
}

/* ....................................general */

body {
    color: black;
    background-color: rgb(150, 215, 175);
}

#page-container {
    position: relative;
    min-height: 100vh
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

/* ....................................general */

.title-card {
    background-color: #4BBB76;
}

/* ....................................nav bar */

.nav-link, nav span{
    color: black!important;
}
 
.navbar-brand {
    font-family: 'Orelega One', cursive;
}

/* ....................................hero img */

.img-fluid {
    height: auto;
    width: 70vw;
    margin: auto auto;
    object-fit: fit;
    position: center center;
}

.hero-card {
    background-color: rgb(150, 215, 175);
    border: none;
}

/* ....................................nav bar */

footer {
    background-color: #4BBB76;
    color: black!important;
}

footer p {
    color: black!important;
}

.footer-cont{
    min-width: 100%!important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}