{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Restaurants</h1>
            {% for restaurant in restaurant_list %}
                <div class="col">
                    <div class="card">
                        <h2>{{restaurant.name}}</h2>
                        {{restaurant.id}}
                        <p>description: {{restaurant.description}} </p>
                        <p>town/city: {{restaurant.townCity}}</p>
                        <button type="button" class="btn btn-primary">view</button>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}