{% extends "base.html" %}

{% block content %}
<!-- ...........................displays messages -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!-- ...........................display unaproved reviews -->
<div class="container">
    <div class="row">
        <h1>Manage reviews</h1>
        {% for review in review %}
            {% if review.approved == 'not approved' %}
                <div class="col">
                    <div class="card">
                        <h2>{{ review.title}}</h2>
                        <p>Click bellow to approve review</p>
                        <a href="{% url 'approve_review' review.pk %}"><button type="button" class="btn btn-primary">Manage review</button></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>


{% endblock %}