{% extends "base.html" %}

{% block content %}
{% if user.is_staff or user.has_group %}
    <div class="container">
        <div class="row">
            <h1>Manage users</h1>
            <h1>User List</h1>
            <ul>
            {% for user in object_list %}
                {% if not user.is_staff and not user.has_group %}
                    <li>{{ user.username }} <a href="{% url 'user_confirm_delete' user.pk %}"><button type="button" class="btn btn-primary">Delete</button></a></li>
                {% endif %}
            {% endfor %}
            </ul>

        </div>
    </div>
{% else %}
<div class="container">
    <div class="row">
        <h1>admin only</h1>
        <!-- .........................manage reviews card -->
        <div class="col">
            <div class="card">
                <h2>Access denied</h2>
                <p>you mus be logged in as site-admin to view this page</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}