{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>details</h1>
        <h2>{{restaurant.name|striptags}}</h2>
        <p>description: {{restaurant.description|striptags}}</p>
        <p>town/city: {{restaurant.townCity|striptags}}</p>

        <!-- .......................... dish section -->

        <!-- .........creates individual cards for each dish for the restaurant selected -->
        {% for dish in dish %}
            {% if dish.restaurant.id == restaurant.id%}
                <div class="col">
                    <div class="card">
                        <h2>{{dish.name|striptags}}</h2>
                        <p>price: £{{dish.price|striptags}}</p>
                        <p>description: {{dish.description|striptags}}</p>

                        <!-- if the current usser created the dish the bellow buttons are displayed -->
                        {% if User == dish.posted_by %}
                            <a href="{% url 'edit_dish' dish.pk %}"><button type="button" class="btn btn-primary">Edit dish</button></a>
                            <a href="{% url 'dish_confirm_delete' dish.pk %}"><button type="button" class="btn btn-primary">Delete</button></a>
                        {% endif %}
                    </div>
            {% endif %}
        {% endfor %}

        <!-- if the user is logged in the add dish button is displayed if not the logg in to add dish/ review message is displayed -->
        {% if user.is_authenticated %}
            <a href="{% url 'add_dish' restaurant.pk %}"><button type="button" class="btn btn-primary">Add dish</button></a>
        {% else %}
            <p>login in to add a dish or review <a class="nav-link" href="{% url 'login' %}">here!</a></p>
        {%endif%}

        <!-- .......................... reveiw section -->
        <!-- .........creates individual cards for each review for the restaurant selected -->
        {% for review in review %}
        {% if review.restaurant.id == restaurant.id%}
            <div class="col">
                <div class="card">
                    <h2>{{review.name|striptags}}</h2>
                    <p>reviewd by:{{review.posted_by|striptags}}</p>
                    <p>body: {{review.body|striptags}}</p>
                    {% if User.id == review.posted_by.id %}
                        <a href="{% url 'edit_review' review.pk %}"><button type="button" class="btn btn-primary">Edit Review</button></a>
                        <a href="{% url 'review_confirm_delete' review.pk %}"><button type="button" class="btn btn-primary">Delete</button></a>
                    {% endif %}
                </div>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    <a href="{% url 'add_review' restaurant.pk %}"><button type="button" class="btn btn-primary">add review</button></a>
    {% else %}
    <p>login in to add a dish or review <a class="nav-link" href="{% url 'login' %}">here!</a></p>
    {%endif%}
        </div>
    </div>
{% endblock %}